.DropdownMenus {
  display: flex;
  justify-content: space-between;
  @media (min-width: 768px) {
    justify-content: start;
    gap: 1rem;
  }
}

.DropdownMenu1 {
  position: relative;
  &-select {
    border: none;
    background-color: transparent;
    color: #717da3;
    & svg {
      max-width: 1rem;
      display: inline;
      vertical-align: middle;
    }
  }
  &-options {
    z-index: 9;
    box-shadow:  0 0 10px rgba(57, 63, 72, 0.3);
    position: absolute;
    top: 2rem;
    background-color: #fff;
    white-space: nowrap;
    border-radius: .4rem;
    padding: .4rem 0;
    // so that the dropdown menus can smoothly falls from top and close back as well
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 300ms ease-in-out;
    &-journey{
      padding: .8rem .8rem .8rem 2.5rem;
      position: relative;
      // while it's opening or closing the letters don't shrink, it appears and disappear in smooth way
      opacity: 0;
      transition: opacity 150ms ease-in-out;
      &:hover {
        background-color: #eee;
        cursor: pointer;
      }
      &.selected {
        font-weight: bold;
      }
    }
    & svg {
      max-width: 1.2rem;
      display: inline;
      position: absolute;
      left: .8rem;
    }
    &.show {
      transform: scale(1,1);
    }
    &.show .DropdownMenu1-options-journey {
      opacity: 1;
      transition: opacity 150ms ease-in-out 150ms;
    }
  }
}

#option-arrow {
  transition: transform 150ms ease-in-out 150ms;
}
#option-arrow.show {
  transform: rotateX(180deg);
  transition: transform 150ms ease-in-out 150ms;
}
