.DropdownMenu2 {
  // position: relative;
  .DropdownMenu2-select {
    color: #132968;
    font-weight: bold;
    display: flex;
    gap: .5rem;
    cursor: pointer;
    & svg {
      max-width: 1rem;
      vertical-align: middle;
    }
  }

  .DropdownMenu2-options {
    position: absolute;
    inset: 0;
    background-color: #fff;
    // top: 2rem;
    // right: 0vw;
    // left: auto;
    // box-shadow:  0 0 10px rgba(57, 63, 72, 0.3);
    // padding: 1.8rem;
    // border-radius: .7rem;
    // max-width: 18rem;

    transform: scale(1,0);
    transform-origin: bottom;
    transition: transform 200ms ease-in-out;
    & h3 {
      font-weight: bold;
      color: #132968;
    }
    & p{
      color: #717da3;
      margin-top: .5rem;
      font-size: .9rem;
      white-space: nowrap;
    }
    
    &-row {
      width: auto;
      display: flex;
      align-items: center;
      gap: 3rem;
      justify-content: space-between;
      padding: .8rem;
      border-bottom: 1px solid #DCDFE9;
      &-closeBtn {
        max-width: 2rem;
      }

      opacity: 0;
      transition: opacity 150ms ease-in-out;
      &-right {
        &.droit {
          display: flex;
          gap: .7rem;
          align-items: center;
          & p {
            font-size: 1.1rem;
            color: #435385;
            max-width: 1rem;
            text-align: center;
            margin-top: 0;
            vertical-align: middle
          }
          & svg {
            width: 2rem;
          }
        }
      }
    }
    &.show {
      transform: scale(1,1);
    }
    &.show .DropdownMenu2-options-row {
      opacity: 1;
      transition: opacity 150ms ease-in-out 150ms;
    }
  }
}

svg {
  display: block;
  width: 100%;
}
