body {
  min-height: 100dvh;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f2f6;
}

#root {
  // width: 100vw;
}
.App {
  // max-width: 80%;
  // margin: auto;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // place-items: center;
}
