* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  min-height: 100dvh;
  display: grid;
  place-items: center;
  background-color: #f1f2f6;
}
.App {
  padding: 1rem;
  width: 100%;
}

.redirectTictactrip {
  display: grid;
  place-items: center;
  & h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-inline: auto;
    margin-bottom: 1rem;
    text-wrap: balance;
    color: #132968;
  }

  & img {
    max-width: 30rem;
  }

}


