* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  min-height: 100dvh;
  display: grid;
  place-items: center;
  background-color: #f1f2f6;
}
.App {
  padding: 1rem;
  width: 100%;
}

